doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(href='/styles/style.css', rel='stylesheet')
  title Document
.newsletter-container
  .picture
  .newsletter
    h1 Don&apos;t miss out lastest offers
    p Subcribe to our newsletter to recieve our lastest offers.
    form.newsletter-form(action='')
      input.emailInput(type='email', placeholder='youremail@address.com')
      input.btn(type='submit', value='Join us')
